.full-height {
    height: 100%;
}

.bg-option {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}

@mixin font-style($family, $size, $weight) {
    font: {
        family: $family;
        size: $size;
        weight: $weight;
    }
}

html, body {
    @extend .full-height;
}

#app {
    @extend .full-height;
    .container {
        @extend .full-height;
        > div { @extend .full-height; }
        button a { color: $white; }
        a {
            text-decoration: none;
        }
    }
}